.navbar {
  font-family: 'Playfair Display', serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #00bcd4;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.navbar-container {
  width: 80%;           
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;    
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.6em;
  height: 100%;
}

.navbar-logo-img {
  height: 2em;
  width: auto;
  object-fit: contain;
  display: block;
}

.navbar-logo-text {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.nav-links li a:hover {
  transform: scale(1.7);
  color: #560ad1;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  z-index: 1100;
}

.hamburger span {
  height: 2px;
  width: 20px;
  background: white;
  border-radius: 2px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(4px);
    flex-direction: column;
    width: 50%;
    text-align: center;
    display: none;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li a:hover {
  transform: scale(1.1);
  }
}